Admin area returns 200 for unauthorized access

**Describe the bug**
When unauthorized user try to access `/a/dashboard` or some admin pages, wiki.js returns 200 and just display message `You are not authorized to access this resource.`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/a/dashboard`
2. Check the response status code

**Expected behavior**
The server should return 403 or 404, according to [RFC 7231 section 6.5](https://tools.ietf.org/html/rfc7231#section-6.5). 403 may be preferable because wiki.js returns 403 for other restricted pages and guides the visitor to `/login`.

**Host Info (please complete the following information):**
 - OS: Docker
 - Wiki.js version: 2.4.105
 - Database engine: postgres 11.6



I'll try to work on a PR later today

It seems that the notificaiton is also shown when it shouldn't. For example if a user has permissions to manage navigation, it will still show up.
The whole mechanism to handle the admin seems to be a bit off

This is because the dashboard tries to get user counts, groups count, pages count and system version / latest. Unless you're system admin, you're likely to get a permission error because one of them will be blocked.

Yes i intended to fix it soon. Trying to load the dashboard shouldn't be on certain conditions 

Fixed by 4cd6fe8a5667efd195a96e50eb2be7ed1ee26196